@{
    ViewData["Title"] = "Home Page";
}
    <header>
        <div class="nav">
            <a asp-area="" asp-controller="Pessoa" asp-action="Index" >
                Criar conta
                <div class="barra"></div>
            </a>
            <a asp-area="" asp-controller="Login" asp-action="Index">
                Login
                <div class="barra"></div>
            </a>
        </div>
        <div class="texto">
            <h2>Venda de eletrônicos</h2>
            <p>Texto generico de venda.Texto generico de venda.Texto generico de venda.Texto generico de venda.</p>
        </div>
    </header>
<section class="sobre">
    <div class="texto">
        <h3>compre mais barato aqui</h3>
        <p>Vendemos:</p>
        <div class="lista">
            <ul>
                <li>Computadores</li>
                <li>Notebooks</li>
                <li>Teclados</li>
                <li>Mouses</li>
                <li>Monitores</li>
            </ul>
        </div>
        <button>Entre em contato</button>
    </div>
    <div class="device"></div>
</section>
<main>
    <h1>Conheça alguns dos nossos produtos</h1>
    <div class="container">
        <div class="produto">
            <div class="imagem"></div>
            <h3>Nome do produto</h3>
            <h4><span>No valor de:</span> R$ 999,99</h4>
        </div>
        <div class="produto">
            <div class="imagem"></div>
            <h3>Nome do produto</h3>
            <h4><span>No valor de:</span> R$ 999,99</h4>
        </div>
        <div class="produto">
            <div class="imagem"></div>
            <h3>Nome do produto</h3>
            <h4><span>No valor de:</span> R$ 999,99</h4>
        </div>
        <div class="produto">
            <div class="imagem"></div>
            <h3>Nome do produto</h3>
            <h4><span>No valor de:</span> R$ 999,99</h4>
        </div>
        <div class="produto">
            <div class="imagem"></div>
            <h3>Nome do produto</h3>
            <h4><span>No valor de:</span> R$ 999,99</h4>
        </div>
    </div>
    <div class="cad">
        <h3>Cadastre-se agora e obtenha desconto na pré venda</h3>
        <button><a asp-area="" asp-controller="Pessoa" asp-action="Index">Cadastrar</a></button>
    </div>
</main>
<section class="mapa">
    <div class="texto">
        <h2>Nos faça uma visita!</h2>
        <p>Avenida Beira-mar, 7.001</p>
        <p>Centro - Florianópolis - SC</p>
        <p>CEP 88000-000</p>
        <p>+55 48 99999-9999</p>
    </div>
    <iframe src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</section>
<footer>
    <h3>Contato</h3>
    <div class="redes">
        <div class="rede whatsapp"></div>
        <div class="rede facebook"></div>
        <div class="rede linkedin"></div>
    </div>
    <div class="contato">
        <div class="cont local">
            <p>Avenida Beira-mar, 7.001, Centro - Florianópolis - SC</p>
        </div>
        <div class="cont telefone">
            <p>De segunda a sexta (Horário das 09:00 as 19:00): +55 48 99999-9999</p>
        </div>
        <div class="cont instagram">
            <p>infotec</p>
        </div>
        <div class="cont email">
            <p>contato@infotec.com</p>
        </div>
    </div>
</footer>
