@{
    ViewData["Title"] = "Home Page";
}

<section class="sobre">
    <div class="texto">
        <h3>compre mais barato aqui</h3>
        <p>Vendemos:</p>
        <div class="lista">
            <ul>
                <li>Computadores</li>
                <li>Notebooks</li>
                <li>Teclados</li>
                <li>Mouses</li>
                <li>Monitores</li>
            </ul>
        </div>
        <button>Entre em contato</button>
    </div>
    <div class="device"></div>
</section>
<main>
    <h1>Conheça alguns dos nossos produtos</h1>
    <div class="container">
        <div class="produto">
            <div class="imagem"></div>
            <h3>Nome do produto</h3>
            <h4><span>No valor de:</span> R$ 999,99</h4>
        </div>
        <div class="produto">
            <div class="imagem"></div>
            <h3>Nome do produto</h3>
            <h4><span>No valor de:</span> R$ 999,99</h4>
        </div>
        <div class="produto">
            <div class="imagem"></div>
            <h3>Nome do produto</h3>
            <h4><span>No valor de:</span> R$ 999,99</h4>
        </div>
        <div class="produto">
            <div class="imagem"></div>
            <h3>Nome do produto</h3>
            <h4><span>No valor de:</span> R$ 999,99</h4>
        </div>
        <div class="produto">
            <div class="imagem"></div>
            <h3>Nome do produto</h3>
            <h4><span>No valor de:</span> R$ 999,99</h4>
        </div>
    </div>
    <div class="cad">
        <h3>Cadastre-se agora e obtenha desconto na pré venda</h3>
        <button>Cadastrar</button>
    </div>
</main>
<section class="mapa">
    <div class="texto">
        <h2>Nos faça uma visita!</h2>
        <p>Avenida Beira-mar, 7.001</p>
        <p>Centro - Florianópolis - SC</p>
        <p>CEP 88000-000</p>
        <p>+55 48 99999-9999</p>
    </div>
    <iframe src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</section>
