
@{
    ViewData["Title"] = "Index";
}

    <div class="form">
        <div class="elements">
            <form action="">
                <h1>Cadastre-se agora e obtenha desconto na inauguração da loja!</h1>
                <input type="text" placeholder="Nome">
                <input type="password" placeholder="Senha">
                <input type="password" placeholder="Confirme a senha">
                <input type="email" placeholder="Email">
                <div class="button">
                    <button>Cadastrar</button>
                </div>
            </form>
            <div class="img"></div>
        </div>
    </div>
